#defaultStyleProfile{
    background-color: #F9DBC1;
    width: 100%;

    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.11), 2px 1px 5px 2px rgba(0, 0, 0, 0.11);
    padding: 20px;
}

.background-color{
    background-color: #F9DBC1;
}
.border-color{
    border-color: #F9DBC1;
}

#submit-change-button{
    border-radius: 0px;
    background-color: #BAA4C7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 2px 4px 5px 2px rgba(0, 0, 0, 0.11);
    border: 0px;
    color: black;
    margin-top: 20px;
    height: auto;
}