.btn-submit{
    background-color: #BAA4C7 !important;
    margin: 15px !important;
    padding: 7px 40px !important;
    text-align: center !important;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    align-content: center !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}