.btn-submit{
    background-color: #BAA4C7;
    margin: 15px;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}