.form-group{
    display: inline-block;
    
}
/* #formgroup{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
} */
.label-form.col-6{
    padding-top: 5px;
    text-align: right !important;
    display: inline-block;
    
 
}
.label-form.col-6::after{
    content: ":"; 
}
.control-form.col-6{
    text-align: center;
    display: inline-block;
}
.col-6{
    display: inline-block;
    margin-top: 20px;
}
.right {
    float: right;
  }
  .left {
    float: left;
    /* right: 0px;
    width: 300px; */
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    .label-form.col-6{
        padding-top: 5px;
        text-align: left;
        display: inline-flex;

        
     
    }
    .label-form.col-6::after{
        content: ":";
        display: inline-block;
        align-content: left !important;
        margin-left: auto;
    }
   
    .control-form.col-6{
        text-align: none;
        display: inline-block;
    }
    .col-6{
        display: none;
        margin-top: 20px;
    }

  }