.container{
    width: 40rem;
    border: none #F9DBC1;
    background-color: #F9DBC1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-bottom: 100px;
}
h2{
    text-align: center;
}

.card-body{
    border: none #F9DBC1;
    background-color: #F9DBC1;

}
.card{
    border: none #F9DBC1;
    background-color: #F9DBC1;
}
.card-text{
    border: none #F9DBC1;
    background-color: #F9DBC1;
}
.card-title{
    border: none #F9DBC1;
    background-color: #F9DBC1;
}
div{
    border: none !important;
}