#category-button{
    background-color:  #F7E3D3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 2px 4px 5px 2px rgba(0, 0, 0, 0.11);
    color: black;
    border: none;
    margin: 2%;
    border-radius: 0px;
    width: 300px;
    height: 70px, auto;
    padding-top: 20px;
}

#category-button-text{
    font-family: courier;
    font-size: 15pt;
}

/* test */