#resource-card{
    background-color:  #F7E3D3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    outline: solid 3px #8b6a9f80;
}

.input-labels{
    font-family: courier;
}

.input-label-bold{
    font-family: courier;
    font-style: bold;
}

.resource-card a {
    text-decoration: none !important;
    color: #6c4d7e !important;
}

.resource-card a:hover{
    color: #BAA4C7 !important;
}